<div class="row">
    <div class="col-md-8">
        <% @user.items.each do |item| %>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">
                        <%= item.name %>
                        <%= "Created " + distance_of_time_in_words(Time.now, item.created_at, include_seconds: true) + " ago"  %>
                        <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
                    </h4>
                </div>
            </div>
        <% end %>
    </div>
</div>
